.leading-loose
    line-height: 1.7
    
.avatar
    width: 148px
    height: 148px
    
//vgroup:hover
//    cgroup > h4, cgroup > p
//        color: red


.tran
    transition: .7s
        
.grid-item
    width: 25%
.grid-item--width2
    width: 50%